.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(82, 79, 79, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: color 0.3s;
}

/* Hộp thoại nội dung */
.popup-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  text-align: center;
  width: 40%;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
/* Nút đóng (X) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(224, 53, 53);
}

.close-btn:focus {
  outline: none;
}
