#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.interface-ui{
  width: 450px;
  margin: 0 auto;
  background-color: #f4bfec;
  height: 70vh;
  border-radius: 20px;
  padding: 30px;
}
.interface{
    width: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;
    height: 150px;
    font-size: 25px;
    border: 1px solid rgb(189, 185, 185);
    color: rgb(92, 11, 70);
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia 4 cột đều nhau */
  gap: 10px;
  padding: 20px;
  margin : 20px 0;
  background-color:  #f5f5f5;
  border-radius: 20px;
  border: 1px solid rgb(189, 185, 185);
}
.doubleC{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 15px;
  
}