
.bufolo{
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color : rgb(101, 2, 57);
    font-size: large;
    border-radius: 10px;
    font-weight: bold;
    div{
        border-radius: 10px;
        padding: 10px;
        img{
            border-radius: 10px;
        }
    }
}